body {
    font-family: Arial, sans-serif; /* Default font family */
    font-size: 16px; /* Default font size */
    line-height: 1.5; /* Line height for better readability */
    color: #333; /* Default text color */
    margin: 0;
    padding: 0;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.grid-item {
    border: 1px solid #8609f4f9;
    box-sizing: border-box;
}
